<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/juaracoding/java/TessanyKeintjem/src/test/java/com/ujiandua/tessany/TestCalculationAmount.java"><classes><class name="com.ujiandua.tessany.TestCalculationAmount"><methods><include name="testCalculatewithdraw"/><include name="TestInsert"/><include name="testAsserttrue"/></methods></class></classes></test></suite>